@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:outline-none focus:ring focus:ring-red-400 md:px-6 md:py-2;
  } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    font-weight: 400;
    font-family: monospace;
    line-height: 1.8;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.500) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  .chat-notification-message {
    color: #0c6af6;
    font-size: 1rem;
    line-height: 1.5;
  }

  .container {
    margin: auto;
    max-width: 1519px;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }

  .options {
    text-transform: uppercase;
  }

  .info-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .info--nav {
    background-color: #e9e3e3;
    padding: 1rem 0;
    margin: 0 0 1rem 0;
  }

  .info-li {
    font-size: 1.6rem;
  }
}
/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
